::-webkit-scrollbar {
  display: none;
}

:root { 
  --white-color: #E2E0DE; 
  --black-color: #100c08; 
  --accent-color: #d9bb61;
} 


.content {
  margin-top: 61px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  justify-content: center;
  color: white;
}

.API-key {
  display: flex;
  background-color: var(--black-color);
  color: var(--white-color);  
  border: 2.5px solid var(--white-color);
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 80px;
}

.API-key .form-control {
  width: 250px;
  height: 30px;
  margin: auto 10px;;
}

.API-key .form-label {
  margin: auto 10px;
  height: 30px;
}

.API-key button {
  margin: auto 10px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 960px) {
  /* here is room for responsiveness based on screen size <= 960px */
}