::-webkit-scrollbar {
  display: none;
}

:root { 
  --white-color: #E2E0DE; 
  --black-color: #100c08; 
  --accent-color: #d9bb61;
} 


.content {
  margin-top: 61px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  justify-content: center;
  color: white;
}

.API-key {
  background-color: #fff;  
  padding: 25px;
  margin:0;
  width: 100%;
}


@media only screen and (max-width: 900px) {
  body {
    background-color: lightblue;
  }
}