html {
    background-color: #062D60;
}

.basic-questions-page {
    padding-top: 50px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.basic-q-title {
    font-size: 80px;
}

.basic-q-desc {

}

form {
    padding: 100px 15%;
    margin: 20px;
    font-size: 20px;
    color: black;
    background-color: #062D60;
    text-align: left;
}

.question-group {
    background-color: #dddddd;
    font-size: 20px;
    padding: 10px;
    display: grid;
    column-gap: 80px;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    row-gap: 50px;
}

.form-select {
    width: 180px;
    height: 30px;
    justify-self: end;
}