
.basic-questions-page {
    padding-top: 61px;
    color: var(--white-color);
    background-color: var(--black-color);
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.basic-q-title {
    font-size: 70px;
}

.basic-questions-page .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
}

.basic-questions-page .path-section {
    padding-top: 61px;
    height: 80vh;
    width: 100%;
    color: var(--white-color);
    text-align: center;
}

.basic-questions-page.basic-q-title {
    margin: 20px auto 80px auto;
}

.basic-questions-page .path-options {
    width: 80%;
    display: grid;
    margin: auto;
    column-gap: 0px;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    text-align: center;
    padding: 0;
}