/*
div {
    color: black;



}
*/


.career-report-page {
    padding-top: 61px;
    color: var(--white-color);
    background-color: var(--black-color);
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* VVV Allows \n to actually create a newline */
    white-space: pre-line;
}

/*
.basic-q-title {
    font-size: 70px;
}
*/