.path-section {
    height: 80vh;
    width: 100%;
    background-color: var(--black-color);
    z-index: 1;
    color: var(--white-color);
    text-align: center;
}

.path-title {
    margin-top: 50px;
}