.form-check {
    margin: 0px;
    padding: 0px;
    width: auto;
  }
  
  .form-check input[type="radio"] {
    margin-right: 5px; /* Add minimal spacing between the radio button and the option text */
    margin-left: -50px;
  }

  .invalid-selected {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0px;
    font-size: .75em;
    color: #dc3545;
  }


/* iPads, Tablets (481px — 768px) */
@media only screen and (max-width: 768px) {
  /* CSS rules for iPads and tablets */
  
  .form-check input[type="radio"] {
    margin-right: 5px; /* Add minimal spacing between the radio button and the option text */
    margin-left: 0px;
  }

  .question-option {
    width: auto;
    margin: auto;
    height: auto;
  }
}

/* Mobile devices (350px — 480px) */
@media only screen and (max-width: 480px) {
  /* CSS rules for mobile devices */
  .form-check input[type="radio"] {
    margin-left: 0px;
  }

  .invalid-selected {
    font-size: .6em;
  }
}