/* Larger size */
.progress-bar-container {
  position: fixed; /* Position the container relative to the viewport */
  bottom: 0; /* Position it at the top of the viewport */
  left: 0; /* Align it to the left */
  width: 100%; /* Make it take the full width of the viewport */
  height: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  border: 2px solid #f9f8f8; /* Add border */
  z-index: 9999; /* Ensure it stays on top of other elements */
}


.progress-bar {
  height: 100%;
  border-radius: 10px;
}

/* Gradient Colors */
.progress-bar {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
}

/* Animation */
@keyframes fillProgress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

