/* ProgressBar.css */
.progress-bar-container {
    width: 100%;
    height: 20px;
    background-color: #ff0000;
    border-radius: 10px;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #007bff; /* Change color as needed */
    border-radius: 10px;
  }
  