.navigation {
    margin: 0px auto 0px auto;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
}

.btn {
    text-align: center;
    text-decoration: none;
    margin: 0px 10px;
    border-radius: 5px;
    padding: 6px 12px;
    border: none;
    box-shadow: 0 0 5px 2.5px var(--white-color);
}

.prev-btn {
    background-color: var(--black-color);
    color: var(--white-color);
}

.next-btn {
    background-color: var(--black-color);
    color: var(--white-color);
}

.submit-btn {
    background-color: var(--black-color);
    color: var(--white-color);
}

.btn:hover {
    background-color: var(--accent-color);
    color: var(--black-color);
}

.submit-btn:hover {
    background-color: var(--accent-color);
    color: var(--black-color);
}

.question-card {
    border: 1px solid var(--white-color);
    border-radius: 5px;
    background-color: var(--black-color);
    box-shadow: 0 0 10px var(--accent-color);
    color: var(--white-color);
    width: 800px;
    height: auto;
    margin: auto; /* Center the card horizontally */
    padding: 20px;
    padding-top: 10px;
    position: relative;
}

.question-card h2 {
    height: 50px;
    font-size: 27px;
    text-align: start;
    margin-left: 20px;
    margin-bottom: 30px;
}

.container {
    margin: auto;
    width: auto;
}

.row {
    margin: auto;
    display: block;
    width: auto;
}

.col {
    margin: auto;
    height: auto;
    padding: 0px;
    max-width: 375px;
}

.options-column {
    width: 275px;
}


.progress-bar-container {
    margin-top: 50px; /* Add margin to the top */
    margin-bottom: 25px; /* Add margin to the bottom */
    width: auto;
}


/* Small screens, laptops (769px — 1024px) */
@media only screen and (max-width: 1024px) {
    /* CSS rules for small screens and laptops */
    .question-card {
        width: 700px;
    }
}

/* iPads, Tablets (481px — 768px) */
@media only screen and (max-width: 768px) {
    /* CSS rules for iPads and tablets */
    .question-card {
        width: 80%;
    }

    .question-card h2 { 
        width: 100%;
        text-align: center;
        margin: 0px;
        margin-bottom: 25px;
        font-size: 20px;
    }

    .progress-bar-container {
        margin-top: 15px; /* Add margin to the top */
    }

    .row {
        display: block;
    }

    .col {
        width: 100%;
    }

    .question-photo {
        max-width: 100%;
    }

    
}

/* Mobile devices (350px — 480px) */
@media only screen and (max-width: 480px) {
    /* CSS rules for mobile devices */
    
}


/* Small Mobile devices (<= 350px) */
@media only screen and (max-width: 350px) {
    /* CSS rules for mobile devices */
    
}