.card {
    width: 500px;
    height: 400px;
    background-image: radial-gradient(circle, var(--accent-color), var(--white-color));
    color: var(--black-color);
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}

.title {
    padding: 10px;
    margin: 0px;
    font-size: 40px;
}

.desc {
    text-align: center;
    padding: 0px;
    margin: 10px auto;
    width: 90%;
    height: 220px;
    font-size: 22px;
}

.link-btn {
    display: block;
    background-color: var(--white-color);
    color: var(--black-color);
    text-align: center;
    padding: 16px 24px;
    text-decoration: none;
    margin: 0px auto;
    border: 2.5px solid var(--black-color);
    border-radius: 5px;
    font-size: 22px;
}

.link-btn:hover {
    background-color: var(--black-color);
    color: var(--white-color);
    opacity: 0.9;
}


/* Small screens, laptops (769px — 1024px) */
@media only screen and (max-width: 1024px) {
    /* CSS rules for small screens and laptops */
    .desc {
        font-size: 20px;
    }
    .link-btn {
        font-size: 20px;
        padding: 14px 21px;
    }
}

/* iPads, Tablets (481px — 768px) */
@media only screen and (max-width: 768px) {
    /* CSS rules for iPads and tablets */
    .card {
        width: 460px;
        height: 368px;
    }
    .link-btn {
        font-size: 18px;
        padding: 12px 18px;
    }
}

/* Mobile devices (350px — 480px) */
@media only screen and (max-width: 480px) {
    /* CSS rules for mobile devices */
    .title {
        font-size: 30px;
        padding: 0;
    }
    .desc {
        font-size: 15px;
        margin: 33px auto;
    }
    .card {
        width: 100%;
        height: 340px;
    }
    .link-btn {
        font-size: 15px;
        padding: 10px 15px;
    }
}


/* Small Mobile devices (<= 350px) */
@media only screen and (max-width: 350px) {
    /* CSS rules for mobile devices */
    .link-btn {
        margin-bottom: 10px;
    }
}