
.hero-btn {
    display: block;
    background-color: var(--black-color);
    color: var(--white-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0px 3px 0px 3px;
    border: 2.5px solid var(--white-color);
    border-radius: 5px;
}

.hero-btn:hover {
    border: none;
    margin: 2.5px 5.5px 2.5px 5.5px;
    background-color: var(--accent-color);
    color: var(--black-color);
}