/* Questions.css */

.DQPage {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .DQPage header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .DQPage h1 {
    font-size: 2.5rem;
  }
  
  .DQPage .form-group {
    margin-bottom: 20px;
  }
  
  .DQPage .Submit-Button {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }
  
  /* Additional styles can be added here */
  